/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
body{
    font-family: "Open Sans", sans-serif;
}

#bordeaux{
    color: #61082B;
}

.white{
    color: #FFFFFF;
}

/* list */
ul{
    list-style-type: none;
}

/* header */
div.navbar>ul{
    display: flex;
}

div.navbar>img{
    margin: 1rem;
}

li{
    margin: 1rem;
}

.head-nav{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    padding: 1rem;
}

.jumbotron{
    max-width: 1000px;
    margin: 0 auto;
}

/* main */
.maindiv{
    max-width: 800px;
    margin: 0 auto;
}














/* style button */
button{
    margin: .7rem;
    border-radius: 0;
    padding: 0 1rem;
}

.blue-button{
    background-color: #0961FF;
}

.white-button{
    background-color: #FFFFFF;
}








/* bg-color */
.lightblue{
    background-color: #B4D0E8;
}

.black{
    background-color: #000000;
}