/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
body{
    font-family: "Open Sans", sans-serif;
}

#bordeaux{
    color: #61082B;
}

/* list */
ul{
    list-style-type: none;
}

/* header */
div.navbar>ul{
    display: flex;
}

div.navbar>img{
    margin: 1rem;
    width: 150px;
    height: 30px;
}

li{
    margin: 1rem;
}

.head-nav{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    align-items: center;
}

.jumbotron{
    max-width: 1000px;
    margin: 0 auto;
}

/* main */
.maindiv{
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 0;
}

h2{
    margin-bottom: 3rem;
    font-size: 40px;
}
form{
    margin: 2rem 0;
}

.plane{
    display: flex;
    justify-content: space-between;
}

article{
    max-width: 30%;
    height: 100%;
}

div.plane>article{
    border: 1px solid grey;
}

.type{
    text-align: center;
    border-bottom: 1px solid grey;
    padding: .5rem 0;
}

.spec{
    padding: 2rem 1rem;
}

h3{
    margin-bottom: 1.5rem;
}

i{
    margin-right: .3rem;
}

div.spec>p{
    margin-bottom: 1rem;
}

div.spec>button{
    margin: 1.5rem 0;
}

hr{
    margin: 2rem 0;
    width: 50px;
}

h5{
    margin-bottom: 1rem;
}

div.spec>p.month{
    margin-bottom: 2rem;
    color: grey;
    font-weight: 200;
}

.team{
    border: 1px solid;
    margin: 2rem 0;
}

.space-division{
    display:flex;
    padding: 1rem;
}

.small{
    width: 35%;
}

.partner{
    display: flex;
    padding: 3rem 0;
}

div.partner>img{
    width: 500px;
    height: 450px;
}

div.partner>span{
    padding: 1.5rem;
}

span>p{
    margin-bottom: 1.5rem;
}

.function{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.function>article{
    margin-bottom: 1.5rem;
}

div.function>article>img{
    width: 250px;
    height: 200px;
}

.join{
    display: flex;
    justify-content: space-between;
}

div.join>div{
    width: 40%;
}

div.join>div>button.white-button{
    padding: .5rem;
    margin-top: 1rem;
}

.ask{
    width: 100%;
}

.question{
    display: flex;
    justify-content: space-between;
}
/* style button */
button{
    margin-right: 1rem;
    border-radius: 0;
    padding: .3rem 1rem;
    background-color: #0961FF;
    color: white;
    border: none;
}

.white-button{
    margin: 0;
    border-radius: 0;
    padding: .3rem 1rem;
    background-color: #FFFFFF;
    color: black;
    border: 1px solid;
}








/* bg-color */
.lightblue{
    background-color: #B4D0E8;
}

footer{
    background-color: #000000;
    color: white;
}

.footdiv{
    max-width: 1000px;
    margin: 0 auto;

}